@charset "UTF-8";
@font-face {
  font-family: "snf";
  src: url(../font/SFNSDisplay-Light.woff);
  src: url(../font/SFNSDisplay-Ultralight-Numbers.woff);
  src: url(../font/SFNSText-Light.woff);
  src: url(../font/SFNSText-Medium.woff);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "苹方";
}

html, body {
  height: 100%;
}

.left {
  width: 366px;
  min-height: 600px;
  background: #383836;
  float: left;
}

.left .head {
  width: 100%;
  height: 43px;
  border-bottom: 1px solid #000;
  line-height: 43px;
  position: relative;
}

.left .head .icon {
  width: 59px;
  height: 18px;
  background: url(../img/wcR1J218DDZ8wAAAABJRU5ErkJggg==.png);
  background-position: 0 138px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 10px;
  position: absolute;
}

.left .head span {
  margin-left: 80px;
  font-size: 20px;
  color: #747473;
  position: relative;
}

.left .head span::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -15px;
  display: block;
  background: url(../img/wcR1J218DDZ8wAAAABJRU5ErkJggg==.png);
  background-position: 106px 335px;
  width: 10px;
  height: 7px;
}

.left .head i {
  color: #747473;
  font-size: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
}

.left .yijihua {
  width: 100%;
  height: 41px;
}

.left .yijihua::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/wcR1J218DDZ8wAAAABJRU5ErkJggg==.png);
  background-position: -10px 357px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.left .yijihua a {
  width: 85%;
  float: right;
  display: block;
  height: 100%;
  line-height: 41px;
  font-size: 18px;
  color: #dfdfdf;
  border-bottom: 2px solid #323230;
}

.left .liebiao {
  width: 100%;
  height: auto;
}

.left .liebiao li {
  width: 100%;
  height: 41px;
}

.left .liebiao li .lb_k {
  margin: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
}

.left .liebiao li .lb_k div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.left .liebiao li input {
  width: 85%;
  float: right;
  line-height: 41px;
  height: 38px;
  font-size: 18px;
  border: none;
  background: #383836;
  color: #dfdfdf;
  border-bottom: 2px solid #323230;
  outline-style: none;
}

.right {
  width: 904px;
  height: 100%;
  float: left;
  background: url(../img/XY3qG1HPzikqvJdL+QZtuPjPfwEaIyrScPzwwQAAAABJRU5ErkJggg==.png);
}

.right .top {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #cfcfcf;
  position: relative;
}

.right .top input {
  width: 95%;
  height: 100%;
  outline-style: none;
  border: none;
  font-size: 18px;
  line-height: 44px;
  background: url(../img/XY3qG1HPzikqvJdL+QZtuPjPfwEaIyrScPzwwQAAAABJRU5ErkJggg==.png);
  box-sizing: border-box;
  padding-left: 50px;
  color: #c7c7c7;
}

.right .top::after {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background: url(../img/wcR1J218DDZ8wAAAABJRU5ErkJggg==.png);
  background-position: 1039px 201px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 20px;
}

.right .biaoti {
  width: 90%;
  float: right;
  border-bottom: 1px solid #e6e6e6;
  height: 76px;
  position: relative;
}

.right .biaoti span:nth-child(1) {
  line-height: 76px;
  font-size: 40px;
  float: left;
}

.right .biaoti span:nth-child(2) {
  font-size: 20px;
  float: right;
  line-height: 86px;
  margin-right: 20px;
}

.right .biaoti .xuanze {
  display: none;
  width: 365px;
  height: 235px;
  position: absolute;
  right: 70px;
  top: -40px;
  background: #fff;
  border-radius: 9px;
  border: 1px solid #D2D2D2;
}

.right .biaoti .xuanze i {
  width: 28px;
  height: 15px;
  position: absolute;
  z-index: 4;
  background: url(../img/wcR1J218DDZ8wAAAABJRU5ErkJggg==.png);
  background-position: -82px 123px;
  right: -20px;
  top: 80px;
  transform: rotateZ(-90deg);
}

.right .biaoti .xuanze .nei {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 346px;
  height: 216px;
  border: 1px solid #e5e5e5;
  border-radius: 9px;
}

.right .biaoti .xuanze .nei input {
  width: 310px;
  height: 40px;
  outline-style: none;
  border: 1px solid #d9d9d9;
  border-radius: 9px;
  font-size: 30px;
  line-height: 40px;
  margin-top: 20px;
  margin-left: 18px;
  box-sizing: border-box;
  padding-left: 10px;
}

.right .biaoti .xuanze .nei p {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 20px;
}

.right .biaoti .xuanze .nei p a {
  font-size: 14px;
  color: #333;
}

.right .biaoti .xuanze .nei ul {
  width: 100%;
  height: 35px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.right .biaoti .xuanze .nei ul li {
  width: 35px;
  height: 35px;
  float: left;
  border-radius: 50%;
  position: relative;
  margin-left: 13px;
}

.right .biaoti .xuanze .nei ul li div {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}

.right .biaoti .xuanze .nei .del {
  color: #ec4650;
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
}

.right .biaoti .xuanze .nei .esc {
  color: #b452f9;
  display: inline-block;
  margin-left: 170px;
  margin-top: 15px;
}

.right .biaoti .xuanze .nei .ent {
  color: #b452f9;
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bolder;
}

.right .biaoti .chuxian {
  display: block;
}

.right .yiwc {
  width: 90%;
  float: right;
  height: auto;
}

.right .yiwc li {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #efefef;
}

.right .yiwc li:nth-child(1) span {
  font-size: 20px;
  color: #c2c2c2;
  line-height: 50px;
  margin-left: 40px;
}

.right .yiwc li:nth-child(1) a {
  float: right;
  margin-right: 10px;
  font-size: 20px;
  line-height: 50px;
}

.right .yiwc .time {
  color: #666;
  font-weight: bold;
  font-size: 14px;
  line-height: 70px;
}

.right .yiwc .shijian .ywc {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  position: relative;
  margin-top: 8px;
}

.right .yiwc .shijian .ywc div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.right .yiwc .shijian input {
  width: 20%;
  height: 100%;
  border: none;
  outline-style: none;
  font-size: 20px;
  color: #d1d1d1;
  line-height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
  background: url(../img/XY3qG1HPzikqvJdL+QZtuPjPfwEaIyrScPzwwQAAAABJRU5ErkJggg==.png);
}

.right .weiwc {
  width: 90%;
  height: auto;
  float: right;
}

.right .weiwc li:nth-child(1) span {
  font-size: 20px;
  color: #c2c2c2;
  line-height: 50px;
  margin-left: 40px;
}

.right .weiwc li {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #efefef;
}

.right .weiwc li .wwc {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  position: relative;
  margin-top: 8px;
}

.right .weiwc li .wwc div {
  position: absolute;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.right .weiwc li input {
  width: 20%;
  height: 100%;
  font-size: 20px;
  color: #b9b9b9;
  outline-style: none;
  margin-left: 20px;
  border: none;
  background: url(../img/XY3qG1HPzikqvJdL+QZtuPjPfwEaIyrScPzwwQAAAABJRU5ErkJggg==.png);
}

.right .xin {
  width: 85%;
  height: 50px;
  float: right;
  color: #b6b6b6;
  font-size: 20px;
  line-height: 50px;
  border-bottom: 1px solid #efefef;
}

.bs1 {
  background: #C96FE1;
}

.bs1-text {
  color: #C96FE1;
}

.bs1-border {
  border: 1px solid #C96FE1;
}

.bs2 {
  background: #6CDB30;
}

.bs2-text {
  color: #6CDB30;
}

.bs2-border {
  border: 1px solid #6cdb30;
}

.bs3 {
  background: #40ACF9;
}

.bs3-text {
  color: #40ACF9;
}

.bs3-border {
  border: 1px solid #40acf9;
}

.bs4 {
  background: #F3CC00;
}

.bs4-text {
  color: #F3CC00;
}

.bs4-border {
  border: 1px solid #f3cc00;
}

.bs5 {
  background: #9F855D;
}

.bs5-text {
  color: #9F855D;
}

.bs5-border {
  border: 1px solid #9f855d;
}

.bs6 {
  background: #F82469;
}

.bs6-text {
  color: #F82469;
}

.bs6-border {
  border: 1px solid #f82469;
}

.bs7 {
  background: #F89500;
}

.bs7-text {
  color: #F89500;
}

.bs7-border {
  border: 1px solid #f89500;
}
